.iconnav {
  font-size: 1.25rem;
}

.bgimg {
  background-image: url(../images/fd91131ea693096d6be5e8aa99d18f9e.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.nav-height {
  min-height: 120px;
}

.animationmenu {
  transition: 0.5s;
}

.bg-menu {
  background-color: #f0f0f0;
}

.item-hv {
  display: block;
  border: solid 1px none;
  color: gray;
}

.item-hv:hover {
  color: #fff;
  background-color: #333;
}

.pic-1 {
  min-height: 534px;
}

.pic-2 {
  min-height: 340px;
}

.pic-3 {
  min-height: 266px;
}

.fship {
  position: relative;
}

.fship-item {
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translate(0, -50%);
}

.bg-sale {
  width: 50px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  align-items: center;
  background-color: #fd9289;
  color: white;
  top: 0;
  left: 0;
}

.cursor {
  cursor: pointer;
}

.fixp {
  margin-bottom: 36px;
}

.fixh2 {
  margin-bottom: 26px;
}

.fixhvdropdown {
  width: 100%;
}

.iconfix {
  width: 15px;
  height: 15px;
}

.fixpd {
  padding: 60px 0;
}

@media only screen and (max-width: 892px) {
  .bg-sale {
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: large;
  }
}

@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

.lg-form {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.lg-body {
  width: 500px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.13);
  border-radius: 2px;
  z-index: 2;
}

::placeholder {
  color: #333;
}

.input-bg {
  background: rgba(0, 0, 0, 0.2);
  color: white;
  border: 0;
}

.bgabu {
  background-image: url(../images/mario-gogh-VBLHICVh-lI-unsplash.jpg);
  width: 100%;
  background-repeat: no-repeat;
  height: 70vh;
}

.bgtext {
  top: 0;
  left: 30px;
}

.fixsearch {
  min-width: 270px;
}

.rad {
  border-radius: 3px;
}

.ati {
  border: 3px solid black;
}

#men,
#women {
  display: none;
}

#all,
#men,
#women {
  -webkit-animation: slide 0.5s ease-out;
  -moz-animation: slide 0.5s ease-out;
  -webkit-animation: slide 0.5s ease-in;
  -moz-animation: slide 0.5s ease-in;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
