.iconnav{
    font-size: 1.25rem;
}

.nav-height {
    min-height: 120px;
}

.animationmenu {
    transition: .5s;
}

.bg-menu {
    background-color: #f0f0f0;
}

.item-hv {
    display: block;
    border: solid 1px none;
    color: gray;
}

.item-hv:hover {
    color: #fff;
    background-color: #333;
}

.pic-1{
    min-height: 534px;
}

.pic-2{
    min-height: 340px;
}

.pic-3{
    min-height: 266px;
}

.fship {
    position: relative;
}

.fship-item {
    position: absolute;
    left: 20%;
    top: 50%;                         
   transform: translate(0, -50%)
}

.bg-sale {
    width: 50px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    align-items: center;
    background-color: #fd9289;
    color: white;
    top: 0;
    left: 0;
}

.fixhvdropdown {
    width: 100%;
}

.iconfix {
    width: 15px;
    height: 15px;
}

.fixpd {
    padding: 60px 0;
}

@media only screen and (max-width: 892px) {
    .bg-sale {
        width: 100px;
        height: 50px;
        line-height: 50px;
        font-size: large;
    }
}

@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}